
#body
{
    background-image: linear-gradient(to right, #373B44, #4286f4);
}


#main-container
{
    padding-top: 10rem;
    height: 50rem;
    display: flex;
    justify-content: center;
}


#card
{
    width: 40%;
    height: 30rem;
}


#card-content
{
    width: 50%;
    font-size: 20px;
    text-align: center;
    margin: auto;
}


#money-icon
{
    width: 9%;
}


#form-container
{
    margin-top: 2rem;
    width: 15rem;
}



#button-container
{
    display: flex;
    justify-content: center;
}


#gross-pay-container
{
    margin-top: 2rem;
}