


#card-content
{
    width: 50%;
    text-align: center;
    border: solid 1px;
    margin: auto;
}

#card
{
    width: 40%;
    height: 30rem;
}



#body
{
    background-image: linear-gradient(to right, #373B44, #4286f4);
}
#main-container
{
    padding-top: 10rem;
    height: 50rem;
    border: solid 1px;
    display: flex;
    justify-content: center;
}

#form-container
{
    margin-top: 2rem;
    border: solid 1px;
    width: 15rem;
}

#button-container
{
    border: solid 1px;
    display: flex;
    justify-content: center;
}

#gross-pay-container
{
    margin-top: 2rem;
    border: solid 1px;
}